Source: drcsim
Standards-Version: 3.9.3
Maintainer: Brian Gerkey <gerkey@osrfoundation.org>
Section: devel
Priority: extra
Build-depends: cmake,
 debhelper (>= 7.0.50~),
 gazebo-current (>= 2.0.0),
 ros-groovy-pr2-mechanism,
 ros-groovy-std-msgs,
 ros-groovy-common-msgs,
 ros-groovy-image-common,
 ros-groovy-geometry,
 ros-groovy-pr2-controllers,
 ros-groovy-geometry-experimental,
 ros-groovy-robot-model-visualization,
 ros-groovy-image-pipeline,
 ros-groovy-image-transport-plugins,
 ros-groovy-gazebo-plugins-current,
 osrf-common-groovy,
 sandia-hand-groovy
Homepage: http://theroboticschallenge.org

Package: drcsim
Depends: drcsim-groovy, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
  This is a transitional dummy package. It can safely be removed.

Package: drcsim-groovy
Architecture: any
Section: devel
Priority: extra
Depends:  gazebo-current (>= 2.0.0),
 ros-groovy-pr2-mechanism,
 ros-groovy-std-msgs,
 ros-groovy-common-msgs,
 ros-groovy-image-common,
 ros-groovy-geometry,
 ros-groovy-pr2-controllers,
 ros-groovy-geometry-experimental,
 ros-groovy-robot-model-visualization,
 ros-groovy-image-pipeline,
 ros-groovy-image-transport-plugins,
 ros-groovy-gazebo-ros-current,
 ros-groovy-gazebo-plugins-current,
 ros-groovy-gazebo-msgs-current,
 osrf-common-groovy,
 sandia-hand-groovy,
 ${misc:Depends}
Conflicts: drcsim-hydro,
  drcsim-nightly,
  drcsim-hydro-prerelease,
  drcsim-groovy-prerelease
Replaces: drcsim (<< 3.1.1-3~)
Breaks: drcsim (<< 3.1.1-3~)
Description: Darpa Robotics Challenge (DRC) simulator
 Building upon Gazebo simulator, the DRC Simulator, or DRCSim, comprises additional worlds, models, and code that is specifically required to simulate the DRC domain.
Homepage: http://theroboticschallenge.org

Package: drcsim-groovy-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    drcsim-groovy (= ${binary:Version}), ${misc:Depends}
Conflicts: drcsim-dbg, 
  drcsim-nightly-dbg
Description: debugging symbols for drcsim
 This package contains the debugging symbols for DRC simulator
