Source: drcsim-prerelease
Standards-Version: 3.9.3
Maintainer: Brian Gerkey <gerkey@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake, debhelper (>= 7.0.50~), gazebo (>= 1.7.0), ros-groovy-pr2-mechanism, ros-groovy-std-msgs, ros-groovy-common-msgs, ros-groovy-image-common, ros-groovy-geometry, ros-groovy-pr2-controllers, ros-groovy-geometry-experimental, ros-groovy-robot-model-visualization, ros-groovy-image-pipeline, ros-fuerte-image-transport-plugins, osrf-common, sandia-hand (>= 5.1.12)
Homepage: http://theroboticschallenge.org

Package: drcsim-prerelease
Architecture: any
Section: devel
Priority: extra
Depends: gazebo (>= 1.7.0), ros-groovy-pr2-mechanism, ros-groovy-std-msgs, ros-groovy-common-msgs, ros-groovy-image-common, ros-groovy-geometry, ros-groovy-pr2-controllers, ros-groovy-geometry-experimental, ros-groovy-robot-model-visualization, ros-groovy-image-pipeline, ros-fuerte-image-transport-plugins, osrf-common sandia-hand (>= 5.1.12), ${misc:Depends}
Conflicts: drcsim, drcsim-nightly
Description: Darpa Robotics Challengue (DRC) simulator
 Building upon Gazebo simulator, the DRC Simulator, or DRCSim, comprises additional worlds, models, and code that is specifically required to simulate the DRC domain.
Homepage: http://theroboticschallenge.org

Package: drcsim-prerelease-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    drcsim-prerelease (= ${binary:Version}), ${misc:Depends}
Conflicts: drcsim-dbg, drcsim-nightly-dbg
Description: debugging symbols for drcsim
 This package contains the debugging symbols for DRC simulator
